{% extends "::base.html.twig" %}

{% block body %}


    <table>

    {% for product in products %}


      <tr>

        <td style="width:200px">
          <img src="{{ product.image }}" height="30%" width="100%" />
        </td>

        <td>
          <h3>{{ product.name }}</h3>
          <h5>Price: {{ product.price }}</h5>
          </form>
        </td>

      <tr>

    {% endfor %}


        </table>


{% endblock %}
